*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg);
    background-position: center;
    background-size: cover;
}

.diosito{
    background-color: rgba(136, 136, 136, 0.575);
    height: 80%;
    width: 30%;
    border-radius: 5px;
}

.formCont{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 100%;
    border: 1px solid;
}

h1{
    
}